# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/
ENV/

# Mac / OS files
.DS_Store

# Database


# User uploads
# media/

# Static files (collected)
staticfiles/

# Environment variables
.env

# Logs
*.log

# Build files
build/
dist/
*.egg-info/

# Coverage
.coverage
htmlcov/

# IDE
.vscode/
.idea/

static/*.mp4

index_v2.html

# Scrollytelling clips
static/assets/img/clips/
