{% extends "frontend/base.html" %}
{% load static %}
{% block content %}

<!-- preloader start-->
<div id="preloader">
	<div class="preloader">
		<img src="{% static 'assets/img/thumbs/preloader_new.png' %}" alt="preloader">
	</div>
</div>
<!-- preloader end  -->

<main>
	<!-- breadcrumb-section start -->
	<section class="breadcrumb-section bg-cream">
		<div class="container-fluid">
			<div class="row g-0">
				<div class="col-xl-6 col-lg-6">
					<div class="breadcrumb-content" style="background-image: url('{% static "assets/img/new/3.jpeg" %}')">
						<div class="breadcrumb-nav" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
							<ul>
								<li>
									<a href="{% url 'home' %}">Home</a>
								</li>
								<li>
									<a href="#">Service</a>
								</li>
							</ul>
						</div>
						<div class="breadcrumb-title" data-aos="fade-up" data-aos-delay="400" data-aos-duration="1000">
							<h2>Our Service</h2>
						</div>
						<div class="shape-1"><img alt="shape" src="{% static 'assets/img/shapes/shape-1.webp' %}"></div>
					</div>
				</div>
				<div class="col-xl-6 col-lg-6 d-none d-lg-block">
					<div class="breadcrumb-thumb"><img alt="thumb" src="{% static 'assets/img/thumbs/thumb-1.webp' %}"></div>
				</div>
			</div>
		</div>
	</section>
	<!-- breadcrumb-section end -->

	{% comment %} <!-- services-section start -->
	<section class="services-section bg-cream p-t-100 p-b-70">
		<div class="container">
			<div class="row justify-content-center text-center m-b-50 m-b-xs-40">
				<div class="col-xl-6">
					<div class="common-subtitle" data-aos="fade-up" data-aos-delay="600" data-aos-duration="1000">
						<!-- <img alt="icon-1" src="{% static 'assets/img/icons/icon-2.svg' %}"> --> <span>What We Do</span>
					</div>
					<div class="common-title m-b-0" data-aos="fade-up" data-aos-delay="800" data-aos-duration="1000">
						<h2>We Offer Different Services For Helped You</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
				<div class="col-xl-4 m-b-30">
					<div class="project-card style-service">
						<div class="thumb">
							<a href="{% url 'services_details' %}"><img alt="thumb-63" src="{% static 'assets/img/thumbs/thumb-63.webp' %}"></a>
							<div class="tag">
								<p>No - 01</p>
							</div>
							<div class="content">
								<h5>Waste Management</h5>
								<p>Energy consulting involves providing of advice and guidance on energy</p>
								<div class="join-us">
									<a class="e-primary-btn has-icon is-hover-white" href="{% url 'services_details' %}">Read More <span class="icon-wrap"><span class="icon"><i class="fa-regular fa-arrow-right"></i> <i class="fa-regular fa-arrow-right"></i></span></span></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-4 m-b-30">
					<div class="project-card style-service">
						<div class="thumb">
							<a href="{% url 'services_details' %}"><img alt="thumb-63" src="{% static 'assets/img/thumbs/thumb-64.webp' %}"></a>
							<div class="tag">
								<p>No - 02</p>
							</div>
							<div class="content">
								<h5>Cleaning Ocean</h5>
								<p>Energy consulting involves providing of advice and guidance on energy</p>
								<div class="join-us">
									<a class="e-primary-btn has-icon is-hover-white" href="{% url 'services_details' %}">Read More <span class="icon-wrap"><span class="icon"><i class="fa-regular fa-arrow-right"></i> <i class="fa-regular fa-arrow-right"></i></span></span></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-4 m-b-30">
					<div class="project-card style-service">
						<div class="thumb">
							<a href="{% url 'services_details' %}"><img alt="thumb-63" src="{% static 'assets/img/thumbs/thumb-65.webp' %}"></a>
							<div class="tag">
								<p>No - 03</p>
							</div>
							<div class="content">
								<h5>Plastic Recycling</h5>
								<p>Energy consulting involves providing of advice and guidance on energy</p>
								<div class="join-us">
									<a class="e-primary-btn has-icon is-hover-white" href="{% url 'services_details' %}">Read More <span class="icon-wrap"><span class="icon"><i class="fa-regular fa-arrow-right"></i> <i class="fa-regular fa-arrow-right"></i></span></span></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-4 m-b-30">
					<div class="project-card style-service">
						<div class="thumb">
							<a href="{% url 'services_details' %}"><img alt="thumb-63" src="{% static 'assets/img/thumbs/thumb-66.webp' %}"></a>
							<div class="tag">
								<p>No - 04</p>
							</div>
							<div class="content">
								<h5>Tree Planting Initiatives</h5>
								<p>Energy consulting involves providing of advice and guidance on energy</p>
								<div class="join-us">
									<a class="e-primary-btn has-icon is-hover-white" href="{% url 'services_details' %}">Read More <span class="icon-wrap"><span class="icon"><i class="fa-regular fa-arrow-right"></i> <i class="fa-regular fa-arrow-right"></i></span></span></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-4 m-b-30">
					<div class="project-card style-service">
						<div class="thumb">
							<a href="{% url 'services_details' %}"><img alt="thumb-63" src="{% static 'assets/img/thumbs/thumb-67.webp' %}"></a>
							<div class="tag">
								<p>No - 05</p>
							</div>
							<div class="content">
								<h5>Eco Restoration</h5>
								<p>Energy consulting involves providing of advice and guidance on energy</p>
								<div class="join-us">
									<a class="e-primary-btn has-icon is-hover-white" href="{% url 'services_details' %}">Read More <span class="icon-wrap"><span class="icon"><i class="fa-regular fa-arrow-right"></i> <i class="fa-regular fa-arrow-right"></i></span></span></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-4 m-b-30">
					<div class="project-card style-service">
						<div class="thumb">
							<a href="{% url 'services_details' %}"><img alt="thumb-63" src="{% static 'assets/img/thumbs/thumb-68.webp' %}"></a>
							<div class="tag">
								<p>No - 06</p>
							</div>
							<div class="content">
								<h5>Green Energy Audits</h5>
								<p>Energy consulting involves providing of advice and guidance on energy</p>
								<div class="join-us">
									<a class="e-primary-btn has-icon is-hover-white" href="{% url 'services_details' %}">Read More <span class="icon-wrap"><span class="icon"><i class="fa-regular fa-arrow-right"></i> <i class="fa-regular fa-arrow-right"></i></span></span></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="c-shape-1"><img alt="shape-30" src="{% static 'assets/img/shapes/shape-30.webp' %}"></div>
		<div class="c-shape-2"><img alt="shape-31" src="{% static 'assets/img/shapes/shape-31.webp' %}"></div>
	</section>
	<!-- services-section end --> {% endcomment %}
	<!-- services-section start -->
	<section class="services-section bg-cream p-t-100 p-b-70">
		<div class="container">
			<div class="row justify-content-center text-center m-b-50 m-b-xs-40">
				<div class="col-xl-6">
					<div class="common-subtitle" data-aos="fade-up" data-aos-delay="600" data-aos-duration="1000">
						<!-- <img alt="icon-1" src="{% static 'assets/img/icons/icon-2.svg' %}"> --> <span>What We Do</span>
					</div>
					<div class="common-title m-b-0" data-aos="fade-up" data-aos-delay="800" data-aos-duration="1000">
						<h2>We Offer Different Services For Helped You</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
				{% for package in packages %}
				<div class="col-xl-4 m-b-30">
					<div class="project-card style-service">
						<div class="thumb">
							<a href="{% url 'service_single' package.slug %}"><img alt="{{ package.name }}" src="{{ package.main_image.url }}"></a>
							<div class="tag">
								<p>No - {{ forloop.counter|stringformat:"02d" }}</p>
							</div>
							<div class="content">
								<h5>{{ package.name }}</h5>
								<p>{{ package.description|truncatewords_html:14|safe }}</p>
								<div class="join-us">
									<a class="e-primary-btn has-icon is-hover-white" href="{% url 'service_single' package.slug %}">Read More <span class="icon-wrap"><span class="icon"><i class="fa-regular fa-arrow-right"></i> <i class="fa-regular fa-arrow-right"></i></span></span></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				{% empty %}
				<div class="col-12">
					<p class="text-center">No Dome Stays available yet.</p>
				</div>
				{% endfor %}
			</div>
		</div>
		<div class="c-shape-1"><img alt="shape-30" src="{% static 'assets/img/shapes/shape-30.webp' %}"></div>
		<div class="c-shape-2"><img alt="shape-31" src="{% static 'assets/img/shapes/shape-31.webp' %}"></div>
	</section>
	<!-- services-section end -->

	<!-- process-section start -->
	<div class="process-section p-t-140 p-b-100">
		<div class="container">
			<div class="row">
				<div class="container">
					<div class="row justify-content-center text-center m-b-50 m-b-xs-40">
						<div class="col-xl-6">
							<div class="common-subtitle" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
								<!-- <img alt="icon-1" src="{% static 'assets/img/icons/icon-2.svg' %}"> --> <span>Work Process</span>
							</div>
							<div class="common-title m-b-0" data-aos="fade-up" data-aos-delay="400" data-aos-duration="1000">
								<h2>How To Work With Us</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row" data-aos="fade-up" data-aos-delay="600" data-aos-duration="1000">
				<div class="col-xl-4">
					<div class="service-card">
						<div class="service-top">
							<h4>Think Identifying</h4>
							<div class="number">
								<span>01</span>
							</div>
						</div>
						<div class="service-content">
							<p>Many desktop publishing packages and web page editors now use.</p>
						</div>
					</div>
				</div>
				<div class="col-xl-4">
					<div class="service-card">
						<div class="service-top">
							<h4>Work Planning</h4>
							<div class="number">
								<span>02</span>
							</div>
						</div>
						<div class="service-content">
							<p>Readable english specimen book. It has survived not only five centuries.</p>
						</div>
					</div>
				</div>
				<div class="col-xl-4">
					<div class="service-card">
						<div class="service-top">
							<h4>Product Installation</h4>
							<div class="number">
								<span>03</span>
							</div>
						</div>
						<div class="service-content">
							<p>Lorem Ipsum is not simply random text has roots in a piece of classical.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="c-shape-1"><img alt="shape-32" src="{% static 'assets/img/shapes/shape-32.webp' %}"></div>
	</div>
	<!-- process-section end -->

	<!-- dust-recycling-section start -->
	<section class="dust-recycling-section" style="background-image: url('{% static "assets/img/bg/dust-recycling-bg.webp" %}')">
		<div class="container">
			<div class="row justify-content-center align-items-xl-start align-items-center">
				<div class="col-lg-10 col-12 order-2 order-lg-1">
					<div class="dust-recycle-card" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
						<div class="dust-recycle-top">
							<h5>Dust Recycling</h5>
							<div class="services-4">
								<div class="service-2">
									<i class="fa-light fa-badge-check"></i>
									<p>Work With Professional Team</p>
								</div>
								<div class="service-2">
									<i class="fa-light fa-badge-check"></i>
									<p>Emergency Solution Anytime</p>
								</div>
							</div>
						</div>
						<div class="campaign-progress">
							<div class="environmental">
								<div class="top">
									<p>Environmental Experience</p>
									<p>82%</p>
								</div>
								<div aria-label="Basic example" aria-valuemax="100" aria-valuemin="0" aria-valuenow="82" class="progress" role="progressbar">
									<div class="progress-bar" style="width: 82%"></div>
								</div>
							</div>
							<div class="campaigns">
								<div class="top">
									<p>Campaigns</p>
									<p>94%</p>
								</div>
								<div aria-label="Basic example" aria-valuemax="100" aria-valuemin="0" aria-valuenow="94" class="progress" role="progressbar">
									<div class="progress-bar" style="width: 94%"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-2 order-1 order-lg-2 m-b-md-60 m-b-xs-60" data-aos="fade-up" data-aos-delay="400" data-aos-duration="1000">
					<div class="btn-layer">
						<a class="play-btn" data-fancybox="" href="https://www.youtube.com/watch?v=fLeJJPxua3E&amp;ab_channel=Motiversity">Play</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- dust-recycling-section end -->

	<!-- faq-section start -->
	<section class="faq-section style-service p-t-120 p-b-240" style="background-image: url('{% static "assets/img/bg/why-us-bg-3.webp" %}')">
		<div class="container">
			<div class="row faq">
				<div class="col-xl-5" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
					<div class="common-subtitle">
						<!-- <img alt="icon-2" src="{% static 'assets/img/icons/icon-2.svg' %}"> --> <span>Question &amp; Answer</span>
					</div>
					<div class="common-title text-start">
						<h2>Frequently Asked Question <span>?</span></h2>
					</div>
					<div class="text">
						<p>We work to protect and restore the natural environment.</p>
					</div>
					<div class="blog-btn">
						<a class="e-primary-btn has-icon" href="{% url 'contact' %}">Have You Any Questions? <span class="icon-wrap"><span class="icon"><i class="fa-regular fa-arrow-right"></i> <i class="fa-regular fa-arrow-right"></i></span></span></a>
					</div>
					<div class="top-right">
						<img alt="authors" src="{% static 'assets/img/authors/author-1.webp' %}">
						<div class="people-joined">
							<h5>2603</h5><span>Peoples Registered</span>
						</div>
					</div>
				</div>
				<div class="col-xl-6" data-aos="fade-up" data-aos-delay="400" data-aos-duration="1000">
					<div class="accordion faq-accordion" id="accordionFlushExample">
						<div class="accordion-item">
							<h2 class="accordion-header"><button aria-controls="flush-collapseOne" aria-expanded="false" class="accordion-button collapsed" data-bs-target="#flush-collapseOne" data-bs-toggle="collapse" type="button"><span class="accordion-title">1.</span>How do I get started? <span class="icon"><span class="icon-plus"></span> <span class="icon-minus"></span></span></button></h2>
							<div class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample" id="flush-collapseOne">
								<div class="accordion-body">
									The point of using lorem ipsum is that has more-less packages normal commercial management in construction ensures the planning, execution and coordination.
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header"><button aria-controls="flush-collapseTwo" aria-expanded="false" class="accordion-button collapsed" data-bs-target="#flush-collapseTwo" data-bs-toggle="collapse" type="button"><span class="accordion-title">2.</span>What fees do you charge? <span class="icon"><span class="icon-plus"></span> <span class="icon-minus"></span></span></button></h2>
							<div class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample" id="flush-collapseTwo">
								<div class="accordion-body">
									The point of using lorem ipsum is that has more-less packages normal commercial management in construction ensures the planning, execution and coordination.
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header"><button aria-controls="flush-collapseThree" aria-expanded="false" class="accordion-button" data-bs-target="#flush-collapseThree" data-bs-toggle="collapse" type="button"><span class="accordion-title">3.</span>Where should I incorporate my business? <span class="icon"><span class="icon-plus"></span> <span class="icon-minus"></span></span></button></h2>
							<div class="accordion-collapse collapse show" data-bs-parent="#accordionFlushExample" id="flush-collapseThree">
								<div class="accordion-body">
									The point of using lorem ipsum is that has more-less packages normal commercial management in construction ensures the planning, execution and coordination.
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header"><button aria-controls="flush-collapseFour" aria-expanded="false" class="accordion-button collapsed" data-bs-target="#flush-collapseFour" data-bs-toggle="collapse" type="button"><span class="accordion-title">4.</span>What type of company is measured? <span class="icon"><span class="icon-plus"></span> <span class="icon-minus"></span></span></button></h2>
							<div class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample" id="flush-collapseFour">
								<div class="accordion-body">
									The point of using lorem ipsum is that has more-less packages normal commercial management in construction ensures the planning, execution and coordination.
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header"><button aria-controls="flush-collapseFive" aria-expanded="false" class="accordion-button collapsed" data-bs-target="#flush-collapseFive" data-bs-toggle="collapse" type="button"><span class="accordion-title">5.</span>How can I safely use files? <span class="icon"><span class="icon-plus"></span> <span class="icon-minus"></span></span></button></h2>
							<div class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample" id="flush-collapseFive">
								<div class="accordion-body">
									The point of using lorem ipsum is that has more-less packages normal commercial management in construction ensures the planning, execution and coordination.
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- faq-section end-->

	<!-- contact-info-section start -->
	<section class="contact-info-section">
		<div class="container">
			<div class="row">
				<div class="col-xl-12">
					<div class="contact-info-layout">
						<a class="contact-info active" href="mailto:support.Domes@gmail.com">
							<div class="icon-wrap">
								<div class="icon-shape"></div>
								<div class="icon">
									<i class="fa-solid fa-paper-plane"></i>
								</div>
							</div>
							<h3>support.Domes@gmail.com</h3>
							<p>Send a Email</p>
						</a>
						<a class="contact-info" href="tel:+70264566579">
							<div class="icon-wrap">
								<div class="icon-shape"></div>
								<div class="icon">
									<i class="fa-solid fa-phone-arrow-up-right"></i>
								</div>
							</div>
							<h3>+70 264 566 579</h3>
							<p>Any Time Call Us</p>
						</a>
						<a class="contact-info" href="#">
							<div class="icon-wrap">
								<div class="icon-shape"></div>
								<div class="icon">
									<i class="fa-solid fa-location-dot"></i>
								</div>
							</div>
							<h3>Jones Street, New York, USA</h3>
							<p>Our Address</p>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- contact-info-section end -->
</main>

<!-- Vendors Js -->
<script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'assets/vendor/popper/popper.min.js' %}"></script>
<script src="{% static 'assets/vendor/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
<script src="{% static 'assets/vendor/fancybox/fancybox.umd.js' %}"></script>
<script src="{% static 'assets/vendor/counter/purecounter.js' %}"></script>

<!-- Main Js -->
<script src="{% static 'assets/js/script.js' %}"></script>

{% endblock %}
